"""
This file is a template for the .env file.

Please copy this file to .env and fill in the values.

For more information about configuration options, please refer to the documentation

"""

# ==========================================
# Global configs:
MAX_RETRY=10
RETRY_WAIT_SECONDS=20
# ==========================================


# ==========================================
# Backend Configuration
# ==========================================
# BACKEND=rdagent.oai.backend.LiteLLMAPIBackend
# ==========================================

# ==========================================
# Backend Configuration (choose one)
# ==========================================

# 1. Set universal API key
# CHAT_MODEL="gpt-4o"
# EMBEDDING_MODEL="text-embedding-3-small"
# OPENAI_API_BASE="https://your-endpoint.com/v1"
# OPENAI_API_KEY="sk-your-api-key-here"

# 2. Set separate API KEY
# Chat configuration
OPENAI_API_KEY="sk-chat-key"
OPENAI_API_BASE="https://xxx-litellm.com/v1"
CHAT_MODEL='gpt-4o'

# Embedding configuration (using other service)
# Use siliconflow as example, pay attention to the litellm_proxy prefix
LITELLM_PROXY_API_KEY="sk-embedding-service-key"
LITELLM_PROXY_API_BASE="https://api.siliconflow.cn/v1"
EMBEDDING_MODEL="litellm_proxy/BAAI/bge-large-en-v1.5"
# ==========================================

# ==========================================
# Other Configuration 
# ==========================================
# CHAT_AZURE_API_BASE=<for_Azure_user>
# CHAT_AZURE_API_VERSION=<for_Azure_user>

# EMBEDDING_AZURE_API_BASE=<for_Azure_user>
# EMBEDDING_AZURE_API_VERSION=<for_Azure_user>

# Cache Setting (Optional):
# USE_CHAT_CACHE=True
# USE_EMBEDDING_CACHE=True
# FT_DOCKER_ENABLE_CACHE=True
# DS_DOCKER_ENABLE_CACHE=True
# Scenario Configs:
# ==========================================

# ==========================================
# Qlib Factor Scenario Date Ranges (env_prefix: QLIB_FACTOR_)
# ==========================================
# QLIB_FACTOR_TRAIN_START=2020-01-01
# QLIB_FACTOR_TRAIN_END=2024-06-30
# QLIB_FACTOR_VALID_START=2024-07-01
# QLIB_FACTOR_VALID_END=2025-06-30
# QLIB_FACTOR_TEST_START=2025-07-01
# QLIB_FACTOR_TEST_END=2026-05-11

# ==========================================
# Qlib Model Scenario Date Ranges (env_prefix: QLIB_MODEL_)
# ==========================================
# QLIB_MODEL_TRAIN_START=2020-01-01
# QLIB_MODEL_TRAIN_END=2024-06-30
# QLIB_MODEL_VALID_START=2024-07-01
# QLIB_MODEL_VALID_END=2025-06-30
# QLIB_MODEL_TEST_START=2025-07-01
# QLIB_MODEL_TEST_END=2026-05-11

# ==========================================
# Qlib Quant Scenario Date Ranges (env_prefix: QLIB_QUANT_)
# ==========================================
# QLIB_QUANT_TRAIN_START=2020-01-01
# QLIB_QUANT_TRAIN_END=2024-06-30
# QLIB_QUANT_VALID_START=2024-07-01
# QLIB_QUANT_VALID_END=2025-06-30
# QLIB_QUANT_TEST_START=2025-07-01
# QLIB_QUANT_TEST_END=2026-05-11